<h1>List of Admin</h1>

<table>
  <tr>
    <td>Email</td>
    <td>Name</td>
    <td></td>
    <td></td>
  </tr>

  <% @admins.each do |admin| %>
      <tr>
        <td><%= admin.email %></td>
        <td><%= admin.name %></td>
        <td><%= link_to "View Admin Details", admin_path(admin)%></td>
        <td><%= link_to "Delete Admin", admin_path(admin), method: :delete, data: {confirm: 'Are you sure?'}unless
                        current_user == admin %></td>
      </tr>

  <% end %>
</table>

<%= link_to "Create New Admin", action: :new %>
