<h1>List of Admin</h1>

<table class="table table-hover">
  <thead>
  <tr>
    <th>Email</th>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @admins.each do |admin| %>

      <tr>
        <td><%= admin.email %></td>
        <td><%= admin.name %></td>
        <td><%= link_to "View Admin Details", admin_path(admin) %></td>
        <td><%= unless current_user == admin || admin.email == 'admin@ncsu.edu'
                  link_to "Delete Admin", admin_path(admin), method: :delete, data: {confirm: 'Are you sure?'}
                end %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to "Create New Admin", action: :new %>
