<h2>New Admin</h2>

<%= form_for :admin, url: admins_path do |f| %>

    <!-- TODO: We should make the error messaging for the user better -->
    <% if @admin.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@admin.errors.count, "error") %> prohibited
            this admin from being created:
          </h2>
          <ul>
            <% @admin.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      Email:<br>
      <%= f.text_field :email %>
    </p>

    <p>
      Name:<br>
      <%= f.text_field :name %>
    </p>

    <p>
      Password:<br>
      <%= f.password_field :password %>
    </p>

    <p>
      Repeat Password:<br>
      <%= f.password_field :password_confirmation %>
    </p>

    <p>
      <%= f.submit "Submit" %>
    </p>
<% end %>