<h2>New Library Member</h2>

<%= form_for :library_member, url: library_members_path, :html => {:class => "form"} do |f| %>

    <!-- TODO: We should make the error messaging for the user better -->
    <% if @library_member.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@library_member.errors.count, "error") %> prohibited
            this library member from being created:
          </h2>
          <ul>
            <% @library_member.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    Please fill out the following information to create a new library member.  You will have to login using these credentials after creation.

    <div class="field form-group">
      <%= f.label :email, class: "col-xs-2 control-label" %>
      <div class="col-xs-10">
        <%= f.email_field :email, class: "form-control" %>
      </div>
    </div>

    <div class="field form-group">
      <%= f.label :name, class: "col-xs-2 control-label" %>
      <div class="col-xs-10">
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>

    <div class="field form-group">
      <%= f.label :password, class: "col-xs-2 control-label" %>
      <div class="col-xs-10">
        <%= f.password_field :password, class: "form-control" %>
      </div>
    </div>

    <div class="field form-group">
      <%= f.label :password_confirmation, class: "col-xs-2 control-label" %>
      <div class="col-xs-10">
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>
    </div>

    <div class="actions form-group">
      <div class="col-xs-12">
        <%= f.submit "Create New Member", class: 'btn btn-default' %>
      </div>
    </div>
<% end %>

<br>
<%= link_to 'Click here', login_url %>
to return to the login page.