<h2>Library Member Details</h2>

<table class="table table-hover">
  <thead>
  <tr>
    <th>Email</th>
    <th>Name</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td><%= @library_member.email %></td>
    <td><%= @library_member.name %></td>
  </tr>
  </tbody>
</table>

<%= if current_user == @library_member
      link_to "Edit Profile Details", action: :edit
    end %>

<h2>Checkout history</h2>

<table class="table table-hover">
  <thead>
  <tr>
    <th>ISBN</th>
    <th>Title</th>
    <th>Author</th>
    <th>Status</th>
    <th>Checkout Date</th>
    <th>Return Date</th>
  </tr>
  </thead>

  <tbody>
  <% @library_member.histories.each do |history| %>
      <tr>
        <td><%= history.book.isbn %></td>
        <td><%= history.book.title %></td>
        <td><%= history.book.authors %></td>
        <td><%= history.checked_out? ? "Checked Out" : "Available" %></td>
        <td><%= history.checkout %></td>
        <td><%= history.return %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<h2>Currently Checkout Books</h2>
<table class="table table-hover">
  <thead>
  <tr>
    <th>ISBN</th>
    <th>Title</th>
    <th>Author</th>
    <th>Checkout Date</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @library_member.histories.each do |history| %>
      <% if history.return.nil? %>
          <tr>
            <td><%= history.book.isbn %></td>
            <td><%= history.book.title %></td>
            <td><%= history.book.authors %></td>
            <td><%= history.checkout %></td>
            <td><%= button_to "Return Book", action: :update, controller: :histories, id: history.id %></td>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>