<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <h1>LibSys</h1>
      <% if logged_in? %>
          <%= form_tag "/books", method: "get", class: "form-inline" do %>

              <div class="form-group">
                <%= label_tag :query, "Search Books For:", class: "control-label" %>
                <%= text_field_tag :query, "", class: "form-control" %>
              </div>

              <div class="form-group">
                <%= label_tag :query_by, "Search By:", class: "control-label" %>
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-default active">
                    <%= radio_button_tag :search_type, "isbn", :checked => true %>
                    <%= label_tag :search_type_isbn, "Isbn" %>
                  </label>
                  <% ["title", "authors", "description"].each do |item| %>
                      <label class="btn btn-default">
                        <%= radio_button_tag :search_type, item %>
                        <%= label_tag :search_type_isbn, item.capitalize %>
                      </label>
                  <% end %>
                </div>
                <%= submit_tag "Search", class: 'btn btn-default' %>
              </div>

              <div class="form-group">
                <%= label_tag :status, "Show Books With Status:", class: "control-label input-group" %>
                <%= link_to 'Checked Out', '/books?utf8=✓&query=true&search_type=status', class: 'btn btn-default' %>
                <%= link_to 'Available', '/books?utf8=✓&query=false&search_type=status', class: 'btn btn-default' %>
              </div>
          <% end %>
      <% end %>
    </div>
  </div>
</nav>