<% if logged_in? %>
    <h2>Navigation</h2>

    <div class="btn-group-vertical btn-block">
      <%= link_to "Show All Books", books_path, class: 'btn btn-default' %>

      <% if current_user.admin? %>
          <%= link_to "Show All Admins", admins_path, class: 'btn btn-default' %>
          <%= link_to "Show All Library Members", library_members_path, class: 'btn btn-default' %>
          <%= link_to "Show My Profile", admin_path(current_user.id), class: 'btn btn-default' %>
      <% end %>

      <% if current_user.library_member? %>
          <%= link_to "Show My Profile", library_member_path(current_user.id), class: 'btn btn-default' %>
      <% end %>

      <%= link_to "Log Out", logout_path, method: :delete, class: 'btn btn-primary btn-block' %>
    </div>
<% end %>