<h2>Edit Book</h2>

<% if @book.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@book.errors.count, "error") %> prohibited
        this book from being created:
      </h2>
      <ul>
        <% @book.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<%= form_tag book_path(@book), :method => :put, :class => "form" do %>
    <% ['isbn', 'title', 'authors', 'description'].each do |item| %>
        <div class="form-group">
          <%= label_tag "book[#{item}]", item.capitalize, class: "control-label" %>
          <%= text_field_tag "book[#{item}]", @book.send(item), class: "form-control" %>
        </div>
    <% end %>
    <div class="form-group">
      <div class="btn-group btn-group-justified" data-toggle="buttons">
        <% if @book.checked_out? %>
            <label class="btn btn-default">
              <%= radio_button_tag(:status, "false") %>
              <%= label_tag(:status_checked_in, "Available") %>
            </label>
            <label class="btn btn-default active">
              <%= radio_button_tag(:status, "true", :checked => true) %>
              <%= label_tag(:status_checked_out, "Checked Out") %>
            </label>
        <% else %>
            <label class="btn btn-default active">
              <%= radio_button_tag(:status, "false", :checked => true) %>
              <%= label_tag(:status_checked_in, "Available") %>
            </label>
            <label class="btn btn-default">
              <%= radio_button_tag(:status, "true") %>
              <%= label_tag(:status_checked_out, "Checked Out") %>
            </label>
        <% end %>
      </div>
    </div>
    NOTE: If you are entering a 'Available' book then selecting a library member below will not do anything.<br>

    Book Status:
    <%= select_tag(:library_member, options_for_select(@library_members, @library_members.length)) %>
    <%= label_tag(:library_member, "Checked Out To This Library Member") %><br>

    <%= submit_tag("Submit") %>
<% end %>


<%= link_to "Show All Books", action: :index %>