<h1>List of all books</h1>

<table>
  <tr>
    <td>ISBN</td>
    <td>Title</td>
    <td>Description</td>
    <td>Authors</td>
    <td>Checked Out</td>
    <td></td>
    <% if can? :destroy, @books %>
        <td></td>
    <% end %>
  </tr>

  <% @books.each do |book| %>
      <tr>
        <td><%= book.isbn %></td>
        <td><%= book.title %></td>
        <td><%= book.description %></td>
        <td><%= book.authors %></td>
        <td><%= book.checked_out? %></td>
        <td><%= link_to "View Book's Detail", book_url(book) %></td>
        <% if can? :destroy, @books %>
            <td><%= link_to "Delete Book", book_path(book), method: :delete, data: {confirm: 'Are you sure?'} %></td>
        <% end %>
      </tr>
  <% end %>
</table>

<% if can? :create, Book %>
    <%= link_to "Create New Book", action: :new %>
<% end %>