<h1> New Book</h1>
<%= form_for :book, url: books_path do |f|  %>
    <!-- TODO: We should make the error messaging for the user better -->
    <% if @book.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@book.errors.count, "error") %> prohibited
            this book from being created:
          </h2>
          <ul>
            <% @book.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <p>
      ISBN:<br>
      <%= f.text_field :isbn%>
    </p>
    <p>
      Title:<br>
      <%= f.text_field :title%>
    </p>
    <p>
      Author:<br>
      <%= f.text_field :author %>
    </p>
    <p>
      Description:<br>
      <%= f.text_area :description %>
    </p>
    <p>
      <%= f.submit "Submit" %>
    </p>
<% end %>