<h1> New Book</h1>

<% if @book.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@book.errors.count, "error") %> prohibited
        this book from being created:
      </h2>
      <ul>
        <% @book.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<%= form_tag("/books", method: "post") do %>
    <% ['isbn', 'title', 'author', 'description'].each do |item| %>
        <%= label_tag("book[#{item}]", item) %><br>
        <%= text_field_tag("book[#{item}]") %><br>
    <% end %>
    <%= radio_button_tag(:status, "false", :checked => true) %>
    <%= label_tag(:status_checked_in, "Checked In") %>
    <%= radio_button_tag(:status, "true") %>
    <%= label_tag(:status_checked_out, "Checked Out") %><br>

    NOTE: If you are entering a 'Checked In' book then selecting a library member below will not do anything.<br>
    <%= select_tag(:library_member, options_for_select(@book_list, @book_list.length)) %>
    <%= label_tag(:library_member, "Checked Out To This Library Member") %><br>

    <%= submit_tag("Submit") %>
<% end %>


<%= link_to "Show All Books", action: :index %>