<h1>Current Book</h1>

<table>
  <tr>
    <td>ISBN</td>
    <td>Title</td>
    <td>Description</td>
    <td>Authors</td>
    <td>Status</td>
    <% if current_user.admin? %>
        <td>Checked Out To</td>
    <% end %>
    <% if current_user.library_member? %>
        <td></td>
    <% end %>
  </tr>

  <tr>
    <td><%= @book.isbn %></td>
    <td><%= @book.title %></td>
    <td><%= @book.description %></td>
    <td><%= @book.authors %></td>
    <td><%= @book.checked_out? ? "Checked Out" : "Available" %></td>
    <% if current_user.admin? %>
        <td><%= @book.checked_out_to?.nil? ? "Not Checked Out" : (link_to "#{@book.checked_out_to?.email}", library_member_path(@book.checked_out_to?), action: :show) %></td>
    <% end %>


    <% if current_user.library_member? %>
        <td>
          <% if @book.checked_out? %>
              <% if @book.checked_out_to? == current_user %>
                  <%= button_to "Return Book", action: :update, controller: :histories, id: @book.last_checked_out %>
              <% else %>
                  Book Checked Out To Other User
              <% end %>
          <% elsif !@book.checked_out? %>
              <%= button_to "Checkout Book", action: :create, controller: :histories, data: @book %>
          <% end %>
        </td>
    <% end %>
  </tr>
</table>

<h1>Checkout history</h1>

<table>
  <tr>
    <td>Email</td>
    <td>Name</td>
    <td>Status</td>
    <td>Checkout Date</td>
    <td>Return Date</td>
  </tr>

  <% history = current_user.admin? ? @book.histories : @book.my_history(current_user)
     history.each do |history| %>
      <tr>
        <td><%= link_to "#{history.library_member.email}", library_member_path(history.library_member), action: :show %></td>
        <td><%= history.library_member.name %></td>
        <td><%= history.checked_out? ? "Checked Out" : "Available" %></td>
        <td><%= history.checkout %></td>
        <td><%= history.return %></td>
      </tr>
  <% end %>
</table>

<% if current_user.admin? %>
    <%= link_to "Edit Book Details", action: :edit %><br>
<% end %>

<%= link_to "See All Books", action: :index %>