<h1>Current Book</h1>

<table>
  <tr>
    <td>ISBN</td>
    <td>Title</td>
    <td>Description</td>
    <td>Authors</td>
    <td>Checked Out</td>
    <% if current_user.admin? %>
        <td>Checked Out To</td>
    <% end %>
  </tr>


  <tr>
    <td><%= @book.isbn %></td>
    <td><%= @book.title %></td>
    <td><%= @book.description %></td>
    <td><%= @book.authors %></td>
    <td><%= @book.checked_out? %></td>
    <% if current_user.admin? %>
        <td><%= (link_to "#{@book.checked_out_to?.email}", library_member_path(@book.checked_out_to?), action: :show) unless @book.checked_out_to?.nil? %></td>
    <% end %>
  </tr>
</table>

<h1>Checkout history</h1>

<table>
  <tr>
    <td>Email</td>
    <td>Name</td>
    <td>Checked Out</td>
    <td>Checkout Date</td>
    <td>Return Date</td>
  </tr>

  <% history = current_user.admin? ? @book.histories : @book.my_history(gcurrent_user)
     history.each do |history| %>
      <tr>
        <td><%= link_to "#{history.library_member.email}", library_member_path(history.library_member), action: :show %></td>
        <td><%= history.library_member.name %></td>
        <td><%= history.checked_out? %></td>
        <td><%= history.checkout %></td>
        <td><%= history.return %></td>
      </tr>
  <% end %>
</table>

<% if can? :edit, @books %>
    <%= link_to "Edit Book Details", action: :edit %><br>
<% end %>

<%= link_to "See All Books", action: :index %>