<h2>Login</h2><br>

Please fill out your credentials to login.<br>

<%= form_for :login, url: login_path, :html => {:class => "form"} do |f| %>

    <div class="field form-group">
      <%= f.label :email, class: "col-xs-12 control-label" %>
      <div class="col-xs-12">
        <%= f.email_field :email, class: "form-control" %>
      </div>
    </div>

    <div class="field form-group">
      <%= f.label :password, class: "col-xs-12 control-label" %>
      <div class="col-xs-12">
        <%= f.password_field :password, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "User Type", class: "col-xs-12 control-label" %>
      <div class="col-xs-12">
        <div class="btn-group btn-group-justified" data-toggle="buttons">
          <label class="btn btn-default active">
            <%= f.radio_button :type, 'LibraryMember', :checked => true %>
            <%= label :type_library_member, 'Library Member' %>
          </label>
          <label class="btn btn-default">
            <%= f.radio_button :type, 'Admin' %>
            <%= label :type_admin, 'Admin' %>
          </label>
        </div>
      </div>
    </div>

    <div class="col-xs-12">
      <hr>
    </div>

    <div class="actions form-group">
      <div class="col-xs-12">
        <%= f.submit "Log in", class: 'btn btn-block btn-default' %>
      </div>
    </div>
<% end %>

<br>
If you do not have a library membership yet
<%= link_to 'click here', library_member_path(:new) %>
to create a new library membership.