<h1>Login#index</h1>
<p>Find me in app/views/login/index.html.erb</p>


<%= form_tag do %>
    <%= label_tag(:q, "User Name: ") %>
    <br>
    <%= text_field_tag(:q) %>
    <br>

    <br><br>
    <%= submit_tag("Login") %>
<% end %>

<br><br>
<%= link_to 'Books', books_path %>