<!DOCTYPE html>
<html>
<head>
  <title>LibSys</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="top">
  <h1>LibSys</h1><br>
  <% if logged_in? && current_user.type == 'LibraryMember' %>
    TODO: Put a search bar for books up here...
  <% end %>
</div>

<div class="content">
  <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
  <% end %><br>

  <%= yield %>

</div>

<% if logged_in? %>
    Currently Logged in as: <%= current_user.email %> with role of <%= current_user.type %>
    <%= link_to "Log Out", logout_path, method: :delete %>
<% end %>

</body>
</html>
