<!DOCTYPE html>
<html>
<head>
  <title>LibSys</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/header' %>

<div id="main-container" class="container">
  <div class="row">
    <div id="sidebar" class="col-xs-3">
      TODO: This is where all of the links for the pages will go...
    </div>
    <div id="content" class="col-xs-9">
      <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, class: name %>
      <% end %><br>

      <%= yield %>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>

</body>
</html>
