<!DOCTYPE html>
<html>
<head>
  <title>LibSys</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="top">
  <h1>LibSys</h1><br>
  <% if logged_in? %>
      <%= form_tag("/books", method: "get") do %>
          <%= label_tag(:query, "Search for:") %>
          <%= text_field_tag(:query) %>
          <%= radio_button_tag(:search_type, "isbn", :checked => true) %>
          <%= label_tag(:search_type_isbn, "Isbn") %>
          <% ["title", "author", "description", "status"].each do |item| %>
              <%= radio_button_tag(:search_type, item) %>
              <%= label_tag(:search_type_isbn, item.capitalize) %>
          <% end %>
          <%= submit_tag("Search") %>
      <% end %>
      <% if current_user.admin? %>
          <%= link_to "Show All Admins", admins_path%>
          <%= link_to "Show All Library Members", library_members_path%>
      <% end %>
      <%= link_to "Show All Books", books_path %>
  <% end %>
</div>

<div class="content">
  <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
  <% end %><br>

  <%= yield %>

</div>

<% if logged_in? %>
    Currently Logged in as: <%= current_user.email %> with role of <%= current_user.type %>
    <%= link_to "Log Out", logout_path, method: :delete %>
<% end %>

</body>
</html>
